<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for( 'static', filename='css/bulma.min.css') }}"
            />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
            />
        <title>Fahrstall Hoffmann</title>
        <style>
            .navbar{
                height: 100px;
            }
            #logo{
                max-height: 100%;
            }
        </style>
        {% block head %} {% endblock %}
    </head>
    <body>
        <!--! Navbar Start -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!--todo put the link of the start page here-->
                <a class="navbar-item" href="">
                    <!--todo put your logo here-->
                    <img
                        src="{{ url_for( 'static', filename='images/logo.jpg')}}"
                        id="logo"
                        />
                </a>

                <a
                    role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item"> Über uns! </a>

                    <a class="navbar-item"> Hochzeitskutsche </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"> Mehr </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item"> Kutschfahrten </a>
                            <a class="navbar-item"> Fahrsport </a>
                            <a class="navbar-item"> Termine 2023 </a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item"> Report an issue </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <!--
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong> 
                    </a>
                    <a class="button is-light"> Log in </a>
                </div>
            </div>
        </div>
        -->
                </div>
            </nav>
            <!--! Navbar End -->
            {% block body %} {% endblock %}
            <!--! Footer Start-->
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy
                            Thomas</a>. The source code is licensed
                        <a
                            href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                        The website content
                        is licensed <a
                            href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                            BY NC SA 4.0</a>.
                    </p>
                </div>
            </footer>
            <!--! Footer End-->
        </body>
    </html>
